.recommended-friends {
  margin: 20px 0px;
  padding: 20px 0px;

  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  display: block;
  margin: 50px 0px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.open-chat__header span {
  color: rgba(0, 0, 0, 0.3);
}

.open-chat__header i {
  margin-left: 5px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 7px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  font-size: 14px;
  opacity: 0.5;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count span {
  margin-left: 3px;
}

.open-post__photo:hover i {
  will-change: transform;
  animation: heartBeat 2s ease-in-out infinite;
}
