.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  align-items: center;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons {
  position: relative;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__cog-news {
  background-color: tomato;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: flex;

  position: absolute;
  top: -8px;
  right: -8px;
}
